.wrapper {
    margin: 20px;
    border: 1px solid #aa00ff;
    border-radius: 5px;
    padding: 20px;
    justify-content: space-around;
    display: flex;
}

.button {
    background-color: #aa00ff;
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    font-size: 24px;
}